.athlete-roster-container
  %ul.list
    %li.list-item
      .profile-img-container
        = image_tag "icons/user-default-profile.svg", alt: "profile image"
      .text-container
        .username Arian Foster
        .user-twitter-handle @arianfoster
    %li.list-item
      .profile-img-container
        = image_tag "icons/user-default-profile.svg", alt: "profile image"
      .text-container
        .username Arian Foster
        .user-twitter-handle @arianfoster
    %li.list-item
      .profile-img-container
        = image_tag "icons/user-default-profile.svg", alt: "profile image"
      .text-container
        .username Arian Foster
        .user-twitter-handle @arianfoster
    %li.list-item
      .profile-img-container
        = image_tag "icons/user-default-profile.svg", alt: "profile image"
      .text-container
        .username Arian Foster
        .user-twitter-handle @arianfoster
    %li.list-item
      .profile-img-container
        = image_tag "icons/user-default-profile.svg", alt: "profile image"
      .text-container
        .username Arian Foster
        .user-twitter-handle @arianfoster
